<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <input type="text" id="search-input" onkeyup="searchData()" placeholder="Search for third column">
    <table id= "table-data">
        
        <% for(let i of Object.keys(results[0])){ %> 
        <thead id= "header-row">
        <tr >
          <th> <%= i %>  </th>
         
        </tr>
        </thead>
        <% } %>
       
        
        
        <br />
        
        
        <% for(let l of results){ %> 
            <tbody>
            <tr id="body-row">
             <% for(let j in l){ %> 
              <td> <%= l[j] %>  </td>
              <% } %>
            </tr>
        </tbody>
            <% } %>
         
    </table>
<script src="/js/display.js"></script>
</body>
</html>