<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%></title>
   <link rel="stylesheet" href="/css/home.css">
   <style>
       body {
           background-color: rgb(202, 81, 81);
       }
   </style>
</head>
<body>
    <div class="input-form">
        <form action="/uploadcsv" method="POST" id= "form-data" enctype="multipart/form-data">
            <input type="file" id="file-input" accept=".csv" name="avatar">
            <button>Upload</button>

        </form>
        <div>
            <ul>
                <% for(let i of upload){ %> 
                <li> 
                    <div class = "details">
                        <a href="/display/?id=<%= i._id %>"> <p id = "upload-name"><%= i.name %> </p> </a> 
                    </div>
                 </li>
         
                 <% } %>
             </ul>
        </div>
    </div>
    <script src="/js/home.js"></script>
</body>
</html>